/* Header/logo Title */
body > header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Style the top navigation bar */
.navbar {
  background-color: #333;
  text-align: right;

  ul {
    @extend .row;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }

  ul.visible {
    display: flex !important;
  }

  li {
    padding: 0;
  }

  a {
    color: white;
    padding: 1rem 2rem;
    display: block;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      background-color: #ddd;
      color: black;
    }
  }
}
#toggle {
  display: inline-block;
  padding: 1rem;

  svg {
    fill: #fff;
    transition: fill .3s;
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: #000;
  }
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.page > aside {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 1rem;
}

/* Main column */
.page > main {
  flex: 70%;
  background-color: white;
  padding: 1rem;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 1rem;
}

/* Footer */
body > footer {
  padding: 1rem;
  text-align: center;
  background: #ddd;
}

/* Helper */

@media screen and (min-width: $breakpoint-tablet) {
  .row {
    flex-direction: row;
  }

  .navbar ul {
    display: flex;
    max-height: none;
    height: auto;
  }

  #toggle {
    display: none;
  }
}